.partner__1 {
    padding: 28px 0 48px;
}

.partner__1 h2 {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #4950576b;
}
.partner__1 h2 span {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;

    color: var(--color-darkblue);
    margin-left: 6px;
}
.partner__heading {
    text-align: center;
    margin-bottom: 48px;
}
.partner__heading .heading {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1763e1;
    position: relative;
    display: inline-block;
}
.partner__heading .heading::after {
    content: url("../images/partner/shape.png");
    position: absolute;
    top: -22px;
    right: -20px;
}
/* =================partner__2==================== */
.partner__2 {
    position: relative;
    margin-bottom: 50px;
}
.partner__2::after {
    content: "";
    position: absolute;
    top: 45px;
    height: 352px;
    width: 100%;
    background: #EFF6FF;
    z-index: -1;
}
.partner__2-container {
    padding: 0 20px;
    position: relative;
}
.partner__2-container::before {
    content: url("../images/partner/circle1.png");
    position: absolute;
    top: -52px;
    left: -55px;
}
.partner__2-container::after {
    content: url("../images/partner/circle2.png");
    position: absolute;
    top: -52px;
    right: -55px;
}
.partner__2-dynu {
    text-align: center;
}
.partner__2-dynu h2 {
    padding: 30px 25px 27px 27px;
    background: #ffffff;
    box-shadow: 0px 2.66667px 21.3333px rgba(29, 149, 236, 0.18);
    border-radius: 26.6667px;
    display: inline-block;
    margin-bottom: 24px;
    cursor: pointer;
}
.partner__2-dynu h2:hover {
    box-shadow: 0px 4px var(--color-darkblue);
}
.partner__2-dynu p {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    text-align: center;
    color: var(--color-darkgrey);
    margin-bottom: 18px;
}
.swiper {
    max-width: 1170px;
}
.swiper-slide img {
    vertical-align: top;
}
.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
.dynu-btn {
    transform: translateY(-23px);
    position: relative;
    z-index: 2;
}

/* ==============partner__3================== */
.partner__3 {
    margin-bottom: 48px;
}
.partner__3-container {
    position: relative;
    padding: 0 20px;
}
.partner__3-container::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    width: 81%;
    height: 449px;
    background: #EFF6FF;
    border-radius: 40px;
    z-index: -1;
} 
.partner__3-dt {
    text-align: center;
    margin-bottom: 24px;
}
.partner__3-dt h2 {
    padding: 11px 92px 12px 83px;
    background: #FFFFFF;
    box-shadow: 0px 2.66667px 21.3333px rgba(29, 149, 236, 0.18);
    border-radius: 26.6667px;
    display: inline-block;
    margin-bottom: 24px;
}
.partner__3-dt h2:hover {
    box-shadow: 0px 4px var(--color-darkblue);
}
.partner__3-intro {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: var(--color-darkgrey);
}
.swiper_dt {
    padding-top: 66px;
}
.swiper_dt .swiper-slide-active {
    transform: translateY(-66px) !important;
    transition: .2s ease;
}
.dt-btn {
    transform: translateY(-40px);
    position: relative;
    z-index: 2;  
}
/* ============partner__4============== */
.partner__4 {
    position: relative;
}
.partner__4::after {
    content: "";
    position: absolute;
    top: 41px;
    width: 100%;
    height: 386px;
    background: #EFF6FF;
    border-radius: 30px;
    z-index: -1;
}
.partner__4-container {
    position: relative;
    padding: 0 20px;
}
.partner__4-pm {
    text-align: center;
    margin-bottom: 24px;
}
.partner__4-pm h2 {
    padding: 26px 51px;
    background: #FFFFFF;
    box-shadow: 0px 2.66667px 21.3333px rgba(29, 149, 236, 0.18);
    border-radius: 26.6667px;
    display: inline-block;
    margin-bottom: 24px;
}
.partner__4-pm h2:hover {
    box-shadow: 0px 4px var(--color-darkblue);
}
.partner__4-intro {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: var(--color-darkgrey);
    max-width: 757px;
    margin: 0 auto;
}
.swiper_pm {
    border-radius: 20px;
}
.swiper_pm .swiper-slide-active {
    transform: scale(0.9);
    transition: .3s ease;
}
.pm-btn {
    transform: translateY(-40px);
    position: relative;
    z-index: 2;  
}